.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #321642;
  transform: translateX(100%);
  transition: transform 0.3s;
  z-index: 1;
  // display: none; //!!!!!!!!!!!!!menu is hidden!!!!!!!!!!!!!

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 20px;
  }
  &__text {
    color: #560606;
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    text-shadow: 10px 10px 30px #762a2a, -10px -10px 30px #e59393;
    -webkit-text-stroke: 2px #c19ee7;
    -webkit-text-fill-color: transparent;
  }
  &__btn-close {
    border-radius: 15px;
    background-color: #9180b2;
    color: var(--primery-light);
    padding: 5px 10px;
  }
}
